.stockgen-body {
    height: 100vh;
    background-color: white;
}

.class-name {
    display: flex;
    padding-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.209);
    
    & h3 {
        flex: 1;
    }
}

.stockgen-container {
    display: flex;
    
    & > div {
        position: relative;
        box-sizing: border-box;
        flex: 1 0;
        height: 90vh;
        overflow-y: auto;

        & > div:not(:last-of-type) {
            border-bottom: 1px solid #eee;
        }
    }

    & > div:not(:last-of-type) {
        border-left: 1px solid #ddd
    }
}