body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

form {
  max-width: 300px;
  margin: auto;
}

.inputField {
  width: 250px;
  padding: 8px;
  display: block;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.3s ease;
  border-style: none;
}

.inputField:hover {
  transform: scale(1.05);
}

.submitButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submitButton:hover {
  transform: scale(1.05);
}

/* index.css */

/* Your other styles go here */

/* index.css */

/* Your other styles go here */

.formContainer {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 2rem;
  background-color: firebrick;

  /* Add the following styles for centering child elements */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remember-forgot {
  margin-bottom: 1rem;
}
